* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
  }

  header {

    background-color: rgb(1, 1, 2);
    padding: 100px;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;


  }

  img {
    border-radius: 25px;
    float: left;
    max-height: 150px;
    width: 550px;
    margin: -90px;
    margin-left: 50px;}
    
  

  body {

    text-align: center;
    background-color: rgb(253, 217, 162)
        
        }

  h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        padding: 200px;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        text-align: center;
    }

  p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        color: rgb(68, 34, 190);
        padding: 25px;
        text-align: center;
        
      

    }

  body .botao {
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(184, 199, 194);
    box-shadow: rgb(177, 174, 187) 4px 3px 0px 01px; 
    max-width: 150px;
    display: contents;
    
    }

    .interface{
        max-width: 1000px;
        margin: 0 auto;
        
    }

    h4{
      font-size: 35px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(240, 217, 217);
      text-shadow: 1px 1px 2px black, 0 0 25px rgb(23, 23, 209), 0 0 5px darkblue;
    }

    footer{
        background-color: rgb(253, 230, 230);
        font-size:15px;
        padding: 40px 0;
    }
    
    footer .line-footer1{
        text-align: center;
        border-bottom: 2px solid #0f0101;
        padding-bottom: 20px;
    }

    .line-footer2 h2{
        font-size: 40px;
    }

    .line-footer1 form{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .line-footer1 form input[type=email]{
        width: 300px;
        height: 35px;
        background: r;
        border: 2px solid #0f0101;
        color: rgb(63, 61, 75);
        padding: 10px;
        outline: 0;
    }

    .line-footer1 form input[type=submit]{
        width: 80px;
        height: 35px;
        background-color: aqua;
        border: 0;
        color: black;
        cursor: pointer;
        transition: 2.s ;
    }

    .line-footer1 form input[type=submit]:hover{
        background-color: rgb(238, 49, 207);
        color: blue;
    }
    



    



    footer .line-footer2 .box-line-footer{
         width: ;
    }
 
    

    
  